# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.vs
/WebAPI/.vs/WebAPI
/WebAPI/bin/Debug/net6.0
/WebAPI/obj
/WebAPI/WebAPI.csproj.user
/SharedModel/bin/Debug/net6.0
/SharedModel/obj
/WinClientApp/.vs
/WinClientApp/bin/Debug/net6.0-windows
/WinClientApp/obj
/WinClientApp/WinClientApp.csproj.user
